#header{
    margin-top:5vh;
	margin-left:5vh;
}
#i1{
    margin-top:-4vh;
	left:1vh;
	height:20vh;
	width:20vh;
	
}
#h,#l{
    color:black;
   font-size:7vh;
    text-shadow: 2px 3px #7CFC00;
    font-family:Georgia;
    font-weight: bold;
}
#h{
	margin-top:-2vh;
	margin-bottom:-3vh;
}
#l{
margin-top:-3vh;
}
p{
	margin-top:0vh;
}
#line1{
	margin-top:-5vh;
    color:#32CD32;
	font-weight: bold;
     font-size:3vh;
	margin-left:10vh;
     margin-bottom:0vh;
	 font-family:Bradley Hand, cursive;
}
#line2{
    color:#7FFF00; 
	margin-left:10vh;
    font-size:3vh;
	font-weight: bold;
  margin-top: 0vh;
  font-family:Bradley Hand, cursive;
  
}
#i2{
	
    height:30vh;
    width:30vh;
   margin-top:-3vh;
	margin-left:3vh;
	margin-bottom:-6vh;
}
    
}
